* {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #333;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  display: block;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 820px;
  clear: both;
}
.row {
  display: block;
  clear: both;
}
p,
ul,
ol {
  line-height: 1.6em;
  margin-bottom: 0.8em;
}
ul,
ol {
  margin-left: 20px;
}
ul {
  list-style: circle;
}
li {
  margin-left: 20px;
  padding-left: 10px;
}
strong,
b {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
.hidden,
body.no-js .js-only {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#masthead {
  height: 70px;
  background-color: #333;
  color: #999;
  margin-bottom: 5px;
}
#masthead .row {
  height: 80px;
  background: url(/images/logo.png) no-repeat 100% 35px;
  background-size: 171px 22px;
  padding-top: 20px;
  font-size: 23px;
}
#masthead small {
  color: #666;
  font-size: 75%;
  margin-left: 0.3em;
}
#header #title {
  margin-top: -20px;
  margin-bottom: 30px;
  height: 260px;
  background: url(/images/header-bg.png) no-repeat top right;
  background-size: 800px 260px;
}
#header #title h1 {
  font-size: 28px;
  padding-top: 90px;
  line-height: 1.2em;
  text-shadow: 1px 1px 0 #fff;
}
#menu {
  text-align: left;
}
#menu .section {
  display: inline;
  margin-bottom: 10px;
  float: left;
  width: 20%;
  margin-right: 20px;
}
#menu h2 {
  font-size: 20px;
  line-height: 1.6em;
  border-top: 4px solid #666;
  margin: 0 0 10px 0;
}
#nav {
  display: inline;
  margin-bottom: 10px;
  float: right;
  width: 25%;
}
#nav p + p {
  margin-top: 10px;
}
#nav a {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13.5px;
  display: inline-block;
  color: #000;
  text-decoration: none;
  line-height: 1em;
  text-transform: uppercase;
  border: none;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  margin: 0 6px 8px 0;
  padding: 7px;
}
#nav a.nutshell {
  background-color: #f68b1f;
}
#nav a.services {
  background-color: #fdcf09;
}
#nav a.meta {
  background-color: #d2e280;
}
#nav a:hover,
#nav a:active {
  color: #fff;
  background-color: #666 !important;
}
#nav a.current {
  color: #fff;
  background-color: #333 !important;
  cursor: default;
}
#content-section {
  padding: 25px 0;
  background: #eee url(/images/bg.png) repeat;
  background-size: 20px 20px;
  clear: both;
}
#content-section h2 {
  font-size: 28px;
  line-height: 1.2em;
  text-shadow: 1px 1px 1px #fff;
  margin: 10px 0;
}
#content-section h2 small {
  font-size: 20px;
  color: #666;
}
#content-section h3 {
  font-size: 18px;
  text-shadow: 1px 1px 1px #fff;
  margin: 0 0 0.2em 0;
}
#content-section p {
  text-align: justify;
}
#content-section a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #666;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#content-section a:hover,
#content-section a:active {
  background-color: #666;
  color: #fff;
  border-bottom: 1px solid #666;
}
#content-section a.local {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13.5px;
  display: inline-block;
  color: #000;
  text-decoration: none;
  line-height: 1em;
  text-transform: uppercase;
  border: none;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  padding: 4px;
}
#content-section a.local.nutshell {
  background-color: #f68b1f;
}
#content-section a.local.services {
  background-color: #fdcf09;
}
#content-section a.local.meta {
  background-color: #d2e280;
}
#content-section a.local:hover,
#content-section a.local:active {
  color: #fff;
  background-color: #666 !important;
}
#content-section a.local.current {
  color: #fff;
  background-color: #333 !important;
  cursor: default;
}
#content-section a.local:hover,
#content-section a.local:active {
  border: none;
}
.js #content-section {
  box-shadow: inset 0 3px 15px -10px #333;
  -webkit-box-shadow: inset 0 3px 15px -7px #333;
}
.no-box-shadow #content-section {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.no-js > #content-section .section,
.no-js > #menu {
  border-bottom: 4px solid #ddd;
}
.no-box-shadow #content-section a.permalink {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.back-to-top {
  text-align: right;
}
.back-to-top a {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: inline-block;
  border: 0;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 6px;
}
.back-to-top a:hover,
.back-to-top a:active {
  background-color: #666;
  color: #fff;
  border: 0;
}
.permalink-container {
  display: inline-block;
  float: right;
  margin-top: 10px;
}
.permalink-container .permalink {
  display: inline-block;
  background-color: transparent;
  color: #999;
  border: 0 !important;
  padding: 3px 6px;
  font-size: 12px;
  text-transform: lowercase;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.permalink-container .permalink:hover,
.permalink-container .permalink:active {
  background-color: #666;
  color: #fff;
}
img.right {
  float: right;
  margin: 0 0 5px 20px;
}
img.left {
  float: left;
  margin: 0 20px 5px 0;
}
#android-logo {
  display: block;
  float: right;
  width: 80px;
  height: 94px;
  margin: 0 0 10px 10px;
  background: url(/images/android-robot-outlined.png) no-repeat;
  background-size: 80px 94px;
}
.gallery {
  display: block;
  width: 240px;
  height: 160px;
  float: right;
  padding: 0;
  color: #fff;
  cursor: pointer;
  border: 2px solid #999;
  margin: 5px 0 20px 20px;
  background: no-repeat top left;
  -moz-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.gallery:hover {
  margin: 3px 2px 22px 18px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.gallery p {
  margin: 0 !important;
  text-align: center !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.gallery .title {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: rgba(246, 139, 31, 0.9);
  padding: 20px 5px 2px 5px;
}
.gallery .subtitle {
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 2px 5px;
}
body.no-rgba .gallery .title {
  background-color: #f68b1f;
}
body.no-rgba .gallery .subtitle {
  background-color: #666;
}
#book-reader-gallery {
  background-image: url(/images/bookreader/bg.png);
}
#nutshell .subsection {
  margin: 30px 20px 40px 20px;
  padding-left: 100px;
  background-repeat: no-repeat;
  background-size: 80px 80px;
}
#nutshell #nutshell-no-agents {
  background-image: url(/images/no-agents.png);
}
#nutshell #nutshell-no-risk {
  background-image: url(/images/no-risk.png);
}
#nutshell #nutshell-flexible {
  background-image: url(/images/flexible.png);
}
#about #mark-photo {
  float: right;
  border: 10px solid #fff;
  width: 180px;
  height: 270px;
  margin: 40px 0 20px 40px;
  background-image: url(/images/markwhitaker.jpg);
  background-size: 180px 270px;
}
#get-in-touch {
  margin-bottom: 20px;
}
#get-in-touch p {
  margin-top: 0.5em;
  position: relative;
  line-height: 1.2em;
}
#get-in-touch #email-address {
  font-size: 20px;
}
#get-in-touch .fa {
  color: #333;
}
#testimonials .subsection {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 20px 20px 70px;
}
#testimonials .subsection .author {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
#testimonials .subsection:nth-of-type(odd) {
  margin-right: 20px;
}
#testimonials .subsection:nth-of-type(even) {
  margin-left: 20px;
}
#testimonials .subsection:before,
#testimonials .subsection:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 35px;
  position: absolute;
  color: #eee;
}
#testimonials .subsection:before {
  content: "\f10d";
  top: 20px;
  left: 20px;
}
#testimonials .subsection:after {
  content: "\f10e";
  bottom: 10px;
  right: 20px;
}
#footer {
  padding-top: 10px;
  color: #999;
  clear: both;
}
#footer p {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}
#footer a {
  text-decoration: none;
  color: #999;
  border-bottom: 1px dotted #999;
}
#footer a:hover,
#footer a:active {
  color: #000;
  border-bottom-color: #000;
}
#footer #footer-left {
  float: left;
}
#footer #footer-right {
  float: right;
  text-align: right;
}
#footer #footer-left,
#footer #footer-right {
  padding-bottom: 50px;
}
#footer.long #footer-left,
#footer.long #footer-right {
  padding-bottom: 500px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #masthead .row {
    background-image: url(/images/logo@2x.png);
  }
  #header #title {
    background-image: url(/images/header-bg@2x.png);
  }
  #content-section {
    background-image: url(/images/bg@2x.png);
  }
  #nutshell #nutshell-no-agents {
    background-image: url(/images/no-agents@2x.png);
  }
  #nutshell #nutshell-no-risk {
    background-image: url(/images/no-risk@2x.png);
  }
  #nutshell #nutshell-flexible {
    background-image: url(/images/flexible@2x.png);
  }
  #android-logo {
    background-image: url(/images/android-robot-outlined@2x.png);
  }
}
@media (max-width: 700px) {
  #content-section p,
  #content-section ul {
    text-align: left;
  }
  .desktop-only {
    display: none;
  }
  #masthead #phone-number,
  #menu .section {
    display: none;
  }
  #header #title {
    margin: 10px 0 20px 0;
    height: 280px;
    background-image: url(/images/header-bg-small.png);
    background-size: 300px 233px;
    background-position: bottom right;
  }
  #header #title h1 {
    padding-top: 20px;
    max-width: 80%;
  }
  #nav {
    float: none;
    width: 100%;
  }
  #nav p {
    margin-top: 0;
    display: inline;
  }
  .permalink-container {
    display: none;
  }
  #nutshell .subsection {
    margin: 20px 0;
    padding-left: 50px;
    background-size: 40px 40px;
  }
  #about #mark-photo {
    border-width: 5px;
    width: 90px;
    height: 135px;
    margin: 0 0 10px 10px;
    background-size: 90px 135px;
  }
  #footer #footer-left,
  #footer #footer-right {
    float: none;
    text-align: left;
  }
  #footer #footer-left {
    padding-bottom: 0;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px), (min-resolution: 192dpi) and (max-width: 700px) {
  #header #title {
    background-image: url(/images/header-bg-small@2x.png);
  }
}
